version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=mydb
      - DB_PORT=5432
      - DB_TIMEZONE=Asia/Kolkata
      - DB_TYPE=postgress
      - API_PORT=8080
      - ACCESS_TKN_SECRET=hello
      - ACCESS_TKN_EXP=6
      - REFRESH_TKN_SECRET=hello123
      - REFRESH_TKN_EXP=77
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
